{
  "FTP File Transfer": 21,
  "SSH Remote Login": 22,
  "Telnet": 23,
  "SMTP Email": 25,
  "DNS": 53,
  "HTTP Web": 80,
  "POP3 Email": 110,
  "RPC Endpoint": 135,
  "NetBIOS Session": 139,
  "IMAP Email": 143,
  "LDAP": 389,
  "HTTPS Secure Web": 443,
  "SMB File Sharing": 445,
  "Apple Filing": 548,
  "RTSP Streaming": 554,
  "IPP Printing": 631,
  "LDAPS": 636,
  "IMAPS": 993,
  "POP3S": 995,
  "SOCKS Proxy": 1080,
  "SQL Server": 1433,
  "Oracle DB": 1521,
  "PPTP VPN": 1723,
  "MSN": 1863,
  "NFS": 2049,
  "ZooKeeper": 2181,
  "Node.js Dev": 3000,
  "React Dev": 3001,
  "Squid Proxy": 3128,
  "MySQL DB": 3306,
  "RDP Remote Desktop": 3389,
  "Angular Dev": 4200,
  "Flask Dev": 5000,
  "SIP": 5060,
  "XMPP": 5222,
  "PostgreSQL DB": 5432,
  "Kibana": 5601,
  "RabbitMQ": 5672,
  "VNC Remote": 5900,
  "CouchDB": 5984,
  "Redis Cache": 6379,
  "IRC": 6667,
  "Django Dev": 8000,
  "HTTP Proxy": 8080,
  "InfluxDB": 8086,
  "Jupyter Notebook": 8888,
  "Solr": 8983,
  "SonarQube": 9000,
  "Tor Proxy": 9050,
  "Prometheus": 9090,
  "Kafka": 9092,
  "Elasticsearch": 9200,
  "Webmin": 10000,
  "Memcached": 11211,
  "MongoDB": 27017
}
